# Virtual environment
venv/
ENV/
.env/
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
.webassets-cache

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
*.db

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/

# ml_models
ml_models/

# uploaded files
static/uploads/