<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
  {% block head %}{% endblock %}
</head>



<body class="bg-gray-100 min-h-screen dark:bg-gray-900 transition-colors duration-500"></body>
{% block navbar %}
{% include 'user/partials/navbar.html' %}
{% endblock %}

<div id="pageWrapper" class="flex transition-all duration-300 justify-center">
  {% block load %}
  {% include 'user/partials/load.html' %}
  {% endblock %}

  {% block sidebar %}
  {% include 'user/partials/sidebar.html' %}
  {% endblock %}

  <main id="mainContent" class="w-full max-w-5xl p-8 pt-20 bg-transparent transition-all duration-500 ml-64">
    {% block content %}{% endblock %}
  </main>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/ui_scripts_user.js') }}"></script>
{% endblock %}
</body>

</html>